# Personal Data for Library Booking (Template)
GENDER=X
FIRSTNAME=YOUR_FIRST_NAME
SURNAME=YOUR_SURNAME
STREET=YOUR_STREET
PLZ=YOUR_PLZ
STATUS=S-RWTH
MATRIKEL_NR=YOUR_MATRICULATION_NUMBER
EMAIL=YOUR_EMAIL
PHONE=YOUR_PHONE

# API Keys
# TELEGRAM_TOKEN=your_token_here
